.canvas {
  width: 500px !important;
  height: 500px !important;
}

.newDeaths__wave {
  display: block;
}

.newDeaths__article {
  background-color: var(--secondary-color);
}

.newDeaths__contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 150px;
}

.newDeaths__title {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 80px;
}

.newDeaths__paragraph {
  color: #fff;
  font-size: 1.1rem;
}

@media screen and (max-width: 500px) {
  .canvas {
    width: 300px !important;
    height: 300px !important;
  }

  .newDeaths__title {
    font-size: 2.5rem;
  }
}
