.state {
  margin-top: 50px;
}

.state__title {
  font-size: 3rem;
  text-align: center;
  margin: 110px 0 25px;
}

.state__paragraph {
  width: 90%;
  font-size: 1.1rem;
}

.state__item {
  list-style: upper-roman;
  font-weight: 600;
  font-size: 1.1rem;
}


