<app-header></app-header>
<section class="status">
  <article class="status__description container">
    <h1 class="status__title">¿Qué es el Coronavirus?</h1>
    <div class="status__content">
      <p class="status__paragraph">
        La enfermedad por coronavirus (COVID‑19) es una enfermedad infecciosa
        provocada por el virus SARS-CoV-2. La mayoría de las personas que
        padecen COVID‑19 sufren síntomas de intensidad leve a moderada y se
        recuperan sin necesidad de tratamientos especiales. Sin embargo, algunas
        personas desarrollan casos graves y necesitan atención médica.
      </p>
      <figure class="status__img">
        <img
          src="../../../../assets/images/coronavirus.jpg"
          alt="coronavirus"
          class="status__picture"
        />
        <figcaption>
          Los expertos coinciden en que nunca se había visto un virus como el
          SARS-CoV-2. (BBC News Mundo. María Elena Navas)
        </figcaption>
      </figure>
    </div>
    <a
      href="https://www.ins.gov.co/Noticias/paginas/coronavirus.aspx"
      target="__blank"
      class="status__cta"
      >Conoce más</a
    >
  </article>
</section>
