.header__contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  background-color: var(--secondary-color);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  height: 83px;
  width: 100%;
  opacity: 0.97;
}

.header__picture {
  width: 50px;
}

.header__img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

.header__ul {
  display: flex;
  gap: 16px;

  .header__item {
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 6px;
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: 500;
    border-radius: var(--border-radius);
    transition: 0.3s;
  }

  .header__item:hover {
    color: var(--secondary-color);
    background-color: #fff;
  }
}
