.general__title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
}

.general__paragraph {
  text-align: center;
  margin-bottom: 15px;
}

.chart {
  width: 700px !important;
  height: 700px !important;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .general__title {
    font-size: 2.5rem;
  }

  .chart {
    width: 280px !important;
    height: 280px !important;
  }
}
